
.mainFxmlClass {
    -fx-background-color:#e1dfdf;
}

.stackPane {
    -fx-border-width: 2px;
    -fx-border-color: red;

    /* didn't work */
   -fx-hgap: 100%;
   -fx-vgap: 100%;
}
.painel{
    -fx-background-color:#ffffff;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    
}
.painelTopo{
    -fx-background-color: #056e9bee;
    
}

.usuario, .senha{
      -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.entrar{
    -fx-background-color: #056e9bee;
    -fx-text-fill: #ffffff;
    -fx-font-size:14;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-pref-tile-height: 30;
    -fx-min-width:30;
}
.link{
    -fx-text-fill: #3356f3;
}
